<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span>
          <div class="header-description">
            <p>We help organisations understand, quantify, and reduce environmental and climate impacts through life cycle assessment, system analysis and numerical modelling.</p>
            <p>Fluxpoint Advisory is a science-led consultancy working at the intersection of environmental systems analysis and climate modelling, translating research-based methods into applied insights for sustainability, decarbonisation, and Net Zero strategy.</p>
            <p>We work with organisations developing climate technologies, decarbonisation strategies and environmental innovation projects, that require robust quantitative analysis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
